body {
    background-color: #e8ffff;
    font-family: cursive;
}

hr {
    border-style: dotted none none;
    border-color: ghostwhite;
    border-width: 7px;
    width: 70px;
}

img {
    height: 110px;
}

h1, h3 {
    color: #41aea9;
    margin: 0%;
}